.snakemake/
annotations/
alignment/
qual_ctrl/
coverage/
peakcalling/
csfasta/*
logs/*
logs/cluster/*
datavis/
scripts/.snakemake*
correlations/
snakemake.err
snakemake.log
rulegraph.svg
dag.svg
Rplots.pdf
mogrify.err
mogrify.log

config.yaml

!fastq/.gitkeep
!logs/.gitkeep
!logs/cluster/
!logs/cluster/.gitkeep
